@page "/registroUsuarioInforme"



<h3>Asociar Usuario a Informe</h3>

<EditForm Model="@model" OnValidSubmit="RegistrarUsuarioInforme" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Registrar Usuario</strong>
                        </h3>
                        @if (MostrarErroresRegistro)
                        {
                            <div>
                                @foreach (var error in Errores)
                                {
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }
                        <hr style="background-color:aliceblue" />
                        <div class="form-group">
                            <label for="usuario">Usuario:</label>
                            <InputText id="usuario" class="form-control" @bind-Value="@model.NombreUsuario" />
                        </div>
                        <div class="form-group">
                            <label for="establecimiento">Establecimiento:</label>
                            <InputNumber id="establecimiento" class="form-control" @bind-Value="@model.CodEstablecimiento" />
                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            @if (EstaProcesando)
                            {
                                <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> Por favor espere...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Buscar</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@if (model.TodosLosInformes.Any())
{
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">¡Informes!</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5>Informes Disponibles</h5>
                <select size="10" class="form-control" @bind="@model.InformesDisponiblesSeleccionados">
                    @foreach (var informe in model.InformesDisponibles)
                    {
                        <option value="@informe.DSC_INFORME">@informe.DSC_INFORME</option>
                    }
                </select>
            </div>
            <div class="col-md-2 text-center">
                <button type="button" class="btn btn-success btn-sm" style="margin-bottom: 20px;" @onclick="AsociarInforme" @onclick:stopPropagation="true">Asignar &gt;&gt;</button>
                <br/>
                <button type="button" class="btn btn-danger btn-sm" @onclick="DesasociarInforme" @onclick:stopPropagation="true">&lt;&lt; Quitar</button>
            </div>
            <div class="col-md-5">
                <h5>Informes Asociados</h5>
                <select size="10" class="form-control" @bind="@model.InformesAsociadosSeleccionados">
                    @foreach (var informe in model.InformesAsociados)
                    {
                        <option type="button" value="@informe.DSC_INFORME">@informe.DSC_INFORME</option>
                    }
                </select>
            </div>
        </div>
    </div>
}