@page "/registrodiario"
@attribute [Authorize]
@using SiaesLibraryShared.Contracts;
@using SiaesLibraryShared.Models.Dtos;
@using SiaesCliente.Servicios;
@using System.Net.Http.Headers
@using SiaesCliente.Components;
@inject IServicioProcesoRepositorio ProcesoService
@inject IServicioSubProcesoRepositorio SubProcesoService
@inject IServicioActividadMacroRepositorio ActividadMacroService
@inject IServicioTUbicacion TUbicacionService
@inject IServicioTRegistroDiario RegistroDiarioService
@inject IServicioTiempoInvertidoServicio TiempoInvertido
@inject IServicioUsuarioRepositorio UsuarioService
@inject IServicioDetalleProceso DetalleProceso
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ILogger<RegistroDiario> Logger

<style>
    .calendar-label {
        display: inline-block;
        cursor: pointer;
        padding: 0.375rem 0.75rem;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

        .calendar-label:hover {
            background-color: #d3d9df;
        }

        .calendar-label span {
            margin-right: 0.5rem;
        }
</style>
<h1 class="text-center">Registrar Actividad Realizada</h1>
<AlertMessage Message="@AlertMessageText" Type="@AlertType" ShowMessage="@ShowAlert" OnCloseClicked="@(() => ShowAlert = false)" />
<div class="card">
    <div class="card-header">
        <h4 class="card-title text-dark">Nueva Actividad</h4>
    </div>
    <div class="card-body">
        <EditForm Model="@RegistroDiarioModel" OnValidSubmit="@ManejadorOnRegistrarActividad">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <div class="form-group">
                <label>Tiempo Invertido Hoy:</label>
                <span>@TiempoInvertidoHoy.ToString("0.00") horas</span>
            </div>

            <div class="form-group">
                <label class="calendar-label">
                    <span>Fecha Actividad:</span>
                    <InputDate @bind-Value="FechaActividadSeleccionada" class="form-control"></InputDate>
                </label>
                <ValidationMessage For="() => RegistroDiarioModel.FechaActividad"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Modalidad:</label>
                <InputSelect @bind-Value="RegistroDiarioModel.IdUbicacion" class="form-control">
                    @if (Ubicaciones != null)
                    {
                    @foreach (var ubicacion in Ubicaciones)
                    {
                        <option value="@ubicacion.IdUbicacion">@ubicacion.DescripcionUbicacion</option>
                    }
                    }
                </InputSelect>
                <ValidationMessage For="() => RegistroDiarioModel.IdUbicacion"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Proceso:</label>
                <InputSelect @bind-Value="ProcesoSeleccionado" class="form-control" >
                    <option value="">Seleccione un proceso</option>
                    @if (Procesos != null)
                    {
                        @foreach (var proceso in Procesos)
                        {
                            <option value="@proceso.IdProceso">@proceso.DescripcionProceso</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => ProcesoSeleccionado"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Subproceso:</label>
                <InputSelect @bind-Value="RegistroDiarioModel.IdSubProceso" class="form-control">
                    <option value="">Seleccione un subproceso</option>
                    @if (SubProcesos != null)
                    {
                        @foreach (var subproceso in SubProcesos)
                        {
                            <option value="@subproceso.IdSubProceso">@subproceso.DescripcionSubProceso</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => RegistroDiarioModel.IdSubProceso"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Actividad Macro:</label>
                <InputSelect @bind-Value="RegistroDiarioModel.IdActividadMacro" class="form-control">
                    <option value="">Seleccione una actividad macro</option>
                    @if (ActividadesMacro != null)
                    {
                        @foreach (var actividadMacro in ActividadesMacro)
                        {
                            <option value="@actividadMacro.IdActividadMacro">@actividadMacro.DescripcionMacro</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => RegistroDiarioModel.IdActividadMacro"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Observaciones:</label>
                <InputTextArea @bind-Value="RegistroDiarioModel.Observacion" class="form-control"></InputTextArea>
                <ValidationMessage For="() => RegistroDiarioModel.Observacion"></ValidationMessage>
            </div>

            <div class="form-group">
                <label>Tiempo Invertido:</label>
                <InputText @bind-Value="TiempoInvertidoSeleccionado" class="form-control" type="time" step="900" />
                <ValidationMessage For="@(() => RegistroDiarioModel.TiempoInvertido)"></ValidationMessage>
            </div>

            <button type="submit" class="btn btn-primary">Registrar Actividad</button>
        </EditForm>
    </div>
</div>

@code {
    private RegistroDiarioCreacionDTO RegistroDiarioModel { get; set; } = new RegistroDiarioCreacionDTO();
    private decimal TiempoInvertidoHoy { get; set; }
    private IEnumerable<ProcesoDTO> Procesos { get; set; }
    private IEnumerable<SubProcesoDTO> SubProcesos { get; set; }
    private IEnumerable<TActividadMacroDTO> ActividadesMacro { get; set; }
    private IEnumerable<TUbicacionDTO> Ubicaciones { get; set; }
    private UsuarioLocalStorage Usuario { get; set; }
    private string AlertMessageText { get; set; }
    private string AlertType { get; set; }
    private bool ShowAlert { get; set; }
    private DateTime _fechaActividadSeleccionada = DateTime.Today;

    public DateTime FechaActividadSeleccionada
    {
        get => _fechaActividadSeleccionada;
        set
        {
            if (_fechaActividadSeleccionada != value)
            {
                _fechaActividadSeleccionada = value;
                CargarTiempoInvertidoHoy(_fechaActividadSeleccionada);
            }
        }
    }
    private string tiempoInvertidoSeleccionado;
    private string TiempoInvertidoSeleccionado
    {
        get => tiempoInvertidoSeleccionado;
        set
        {
            tiempoInvertidoSeleccionado = value;
            if (TimeSpan.TryParse(value, out var timeSpan))
            {
                RegistroDiarioModel.TiempoInvertido = (decimal)timeSpan.TotalHours;
            }
            else
            {
                RegistroDiarioModel.TiempoInvertido = 0;
            }
        }
    }


    protected override async Task OnInitializedAsync()
    {
        RegistroDiarioModel.FechaActividad = DateTime.Today;


        // Obtener el nombre de usuario y el código de establecimiento del almacenamiento local
        var nombreUsuario = await LocalStorage.GetItemAsync<string>("nombreUsuario");
        var codEstablecimiento = await LocalStorage.GetItemAsync<int>("unidad");

        // Llamar al servicio ObtenerUsuarioId pasando los valores obtenidos del almacenamiento local
        var usuario = await UsuarioService.ObtenerUsuarioId(nombreUsuario, codEstablecimiento);



        if (usuario != null)
        {
            // Guardar los datos del usuario en el localStorage
            var usuarioLocalStorage = new UsuarioLocalStorage
                    {
                        Id = usuario.Id,
                        IdRol = usuario.IdRol,
                        IdSubArea = usuario.IdSubArea
                    };
            await LocalStorage.SetItemAsync("UsuarioLocalStorage", usuarioLocalStorage);
        }


        await CargarTiempoInvertidoHoy(RegistroDiarioModel.FechaActividad);
        await CargarProcesos();
        await CargarActividadesMacro();
        await CargarUbicaciones();
        RegistroDiarioModel.IdUbicacion = 1; // Valor por defecto para Teletrabajo
    }

    private async Task CargarTiempoInvertidoHoy(DateTime fechaActividad)
    {
        RegistroDiarioModel.FechaActividad = fechaActividad;

        var usuarioLocalStorage = await LocalStorage.GetItemAsync<UsuarioLocalStorage>("UsuarioLocalStorage");
        var idFuncionario = usuarioLocalStorage?.Id ?? 0;
        TiempoInvertidoHoy = await TiempoInvertido.GetTotalTiempoInvertidoAsync(idFuncionario, fechaActividad);
        StateHasChanged();
    }



    private async Task OnProcesoChangeAsync(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int procesoId))
        {
            ProcesoSeleccionado = procesoId;
            await CargarSubProcesos(ProcesoSeleccionado);
        }
    }

    private int _procesoSeleccionado;
    public int ProcesoSeleccionado
    {
        get => _procesoSeleccionado;
        set
        {
            if (_procesoSeleccionado != value)
            {
                _procesoSeleccionado = value;
                CargarSubProcesos(_procesoSeleccionado);
            }
        }
    }


    private async Task CargarProcesos()
    {
        Procesos = await ProcesoService.GetProcesosAsync();
    }

    private async Task CargarSubProcesos(int procesoId)
    {
        SubProcesos = await SubProcesoService.GetSubProcesosByProcesoIdAsync(procesoId);
        StateHasChanged();
    }

    private async Task CargarActividadesMacro()
    {
        ActividadesMacro = await ActividadMacroService.GetActividadesMacroAsync();
    }

    private async Task CargarUbicaciones()
    {
        Ubicaciones = await TUbicacionService.GetUbicacionAsync();
    }

    private async Task OnProcesoChange(ChangeEventArgs e)
    {
        ProcesoSeleccionado = Convert.ToInt32(e.Value);
        await CargarSubProcesos(ProcesoSeleccionado);
    }

    private void LimpiarFormulario()
    {
        RegistroDiarioModel.Observacion = string.Empty;
        TiempoInvertidoSeleccionado = null;
    }

    private async Task ManejadorOnRegistrarActividad()
    {
        var nombreUsuario = await LocalStorage.GetItemAsync<string>("nombreUsuario");
        var codEstablecimiento = await LocalStorage.GetItemAsync<int>("unidad");
        var usuarioLocalStorage = await LocalStorage.GetItemAsync<UsuarioLocalStorage>("UsuarioLocalStorage");
        var idDetalleProceso = await DetalleProceso.ObtenerIdDetalleProceso(_procesoSeleccionado, RegistroDiarioModel.IdSubProceso);
        try
        {
            // Convertir RegistroDiarioCreacionDTO a TRegistroDiarioDTO
            var registroDiarioDTO = new TRegistroDiarioDTO
                {
                    IdFuncionario = usuarioLocalStorage?.Id ?? 0,
                    NombreUsuario = nombreUsuario,
                    UP = codEstablecimiento,
                    FechaActividad = RegistroDiarioModel.FechaActividad,
                    IdDetalleProceso = idDetalleProceso,
                    IdActividadMacro = RegistroDiarioModel.IdActividadMacro,
                    Observacion = RegistroDiarioModel.Observacion,
                    TiempoInvertido = (int)RegistroDiarioModel.TiempoInvertido,
                    IdSubArea = usuarioLocalStorage?.IdSubArea ?? 0,
                    IdUbicacion = RegistroDiarioModel.IdUbicacion ?? 0,
                    UsuarioIngreso = nombreUsuario,
                    FechaIngreso = DateTime.Today
                };

            var resultado = await RegistroDiarioService.CrearRegistroDiario(registroDiarioDTO);

            if (resultado)
            {
                AlertMessageText = "Registro diario creado correctamente";
                AlertType = "success";
                ShowAlert = true;
                await BitacoraHelper.RegistrarAccionEnBitacora("RegistroDiarioActividades", 2, "Inserta registro", nombreUsuario, JSRuntime);
                LimpiarFormulario();
                await CargarTiempoInvertidoHoy(RegistroDiarioModel.FechaActividad);
                await CargarProcesos();
                await CargarActividadesMacro();
                await CargarUbicaciones();
                RegistroDiarioModel.IdUbicacion = 1;
            }
            else
            {
                AlertMessageText = "Error al crear el registro diario";
                AlertType = "danger";
                ShowAlert = true;
                await BitacoraHelper.RegistrarAccionEnBitacora("RegistroDiarioActividades", 2, "Error insertar registro", nombreUsuario, JSRuntime);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error al crear el registro diario");
            await JSRuntime.ToastrError("Error al crear el registro diario");
        }
    }
}